[Unit]
Description=Firecracker Entry
StartLimitIntervalSec=2
After=local-fs.target network.target 
Requires=local-fs.target network.target 
SuccessAction=reboot

[Service]
Type=simple
User=runner
Group=0
WorkingDirectory=/working
ExecStart=/usr/local/bin/entry.sh
ExecStopPost=/usr/sbin/reboot