name: CI

on: [pull_request]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Build
        run: |
          sudo apt-get update
          sudo apt-get install -y mmdebstrap squashfs-tools tree
          ./build.sh
