name: CI

on: [pull_request]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Build
        run: |
          sudo apt-get update
          sudo apt-get install -y mmdebstrap squashfs-tools tree
          ./build.sh
