name: CI

on: [pull_request]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Build
        run: |
          sudo apt-get update
          sudo apt-get install -y mmdebstrap squashfs-tools tree
          ./build.sh
