name: Release

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - name: Timestamp
        id: timestamp
        run: echo "timestamp=$(TZ=UTC date +'%Y-%m-%dT%H-%M-%SZ')" >> $GITHUB_OUTPUT

      - name: Check out the repo (push)
        if: github.event_name == 'push'
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          ref: ${{ github.event.ref }}

      - name: Build
        run: |
          sudo apt-get update
          sudo apt-get install -y mmdebstrap squashfs-tools tree
          ./build.sh

      - name: Create Release
        uses: "softprops/action-gh-release@19cd0bcd2b95a5f9e0aab8377b3cae33e51c2234"
        with:
          tag_name: ${{ steps.timestamp.outputs.timestamp }}
          generate_release_notes: true
          files: |
            dist/*
