name: Release

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - name: Timestamp
        id: timestamp
        run: echo "timestamp=$(TZ=UTC date +'%Y-%m-%dT%H-%M-%SZ')" >> $GITHUB_OUTPUT

      - name: Check out the repo (push)
        if: github.event_name == 'push'
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          ref: ${{ github.event.ref }}

      - name: Build
        run: |
          sudo apt-get update
          sudo apt-get install -y mmdebstrap squashfs-tools tree
          ./build.sh

      - name: Create Release
        uses: "softprops/action-gh-release@78237c54eb15310cb292a15480c4be010be47aeb"
        with:
          tag_name: ${{ steps.timestamp.outputs.timestamp }}
          generate_release_notes: true
          files: |
            dist/*
