name: Update SOURCE_DATE_EPOCH

permissions:
  contents: read

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update_source_data_epoch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Get current timestamp
        id: timestamp
        run: |
          echo timestamp_sec=$(date +%s) >> $GITHUB_OUTPUT

      - name: Update SOURCE_DATE_EPOCH
        run: |
          echo "${{ steps.timestamp.outputs.timestamp_sec }}" > SOURCE_DATE_EPOCH

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        id: generate-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_KEY }}

      - name: Create PR
        id: pr
        uses: peter-evans/create-pull-request@2271f1ddcf09437ed8f019733eb5cfba58ac76f0
        with:
          add-paths: |
            SOURCE_DATE_EPOCH
          commit-message: "[BOT] bump: SOURCE_DATE_EPOCH version to ${{ steps.timestamp.outputs.timestamp_sec }}"
          title: "[BOT] bump: SOURCE_DATE_EPOCH version to ${{ steps.timestamp.outputs.timestamp_sec }}"
          body: "SOURCE_DATE_EPOCH is used for reproducible builds."
          branch: "bot/bump-source-date-epoch"
          delete-branch: true
          author: github-actions <actions@github.com>
          token: ${{ steps.generate-token.outputs.token }}

      - name: Enable auto-merge
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ steps.pr.outputs.pull-request-url }}
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
